# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\[Server\] Meya Ex Program\ServerStatusMonitor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
